<template>
    <div class="container">
      <div class="d-flex flex-column align-items-stretch flex-shrink-0">

        <div class="list-group list-group-flush scrollarea" id="scroll">
          <div class="list-group-item-action py-3 noHover" id="bloc"
               v-for="message in messages" :key="message"  >
               <div class="message-right" v-if="message['id'] == pseudoRef && message['mod'] != 'Moderation Bot' ">
                <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1" id="pseudoText" style="width: 100%;text-align: right;">{{ message['id'] }}</strong>
                </div>
                <div class="col-10 mb-1 small" id="message">{{ message['message'] }} </div>
               </div>

               <div class="message-left" v-else-if="message['mod'] == 'Moderation Bot' 
               && message['id'] == pseudoRef" id="botMod">
                <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1" id="pseudoText">{{ message['mod'] }}</strong>
                </div>
                <div class="col-10 mb-1 small" id="message">{{ message['message'] }} </div>
               </div>

               <div class="message-left" v-else-if="message['mod'] != 'Moderation Bot'">
                <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1" id="pseudoText">{{ message['id'] }}</strong>
                </div>
                <div class="col-10 mb-1 small" id="message">{{ message['message'] }} </div>
               </div>

          </div>    
        </div>
      </div>
        <form @submit.prevent="submit" v-if="pseudoRef">
             <input class="form-control" minlength="1" placeholder="Write a message" v-model="messageSend" id="myInput" style="color:aliceblue" required/>
        </form>
        <span v-else>Vous devez vous connectez pour ecrire dans un channel</span>
      
    </div>
  </template>
  
  <script setup>
import { ref, onMounted, watch} from 'vue';
import { useRoute } from 'vue-router';
import io from 'socket.io-client';
import {socket} from '../services/functionSocket'

const route = useRoute()
const pseudoRef = ref(JSON.parse(localStorage.getItem('pseudo')))
const messages = ref([]) 
const messageSend = ref('')


onMounted(() => {
      /*
    socket.value = io('http://socketio.localhost',{
      // WARNING: in that case, there is no fallback to long-polling
      transports: ["websocket"] // or [ "websocket", "polling" ] (the order matters)
      });
      */
   
    socket.emit('login', pseudoRef.value)
    //socket.emit('joinRoom', route.params.id);
  })

const resetChannel = () => {
  messages.value = [];

};


function submit() 
{
    const m = messageSend.value;
    console.log("test : ", messageSend.value)
    messageSend.value = '';
    // Send the message to the server
    socket.emit('new message', m);   
}

socket.on('old message', (data) => {
    console.log('lololol')
      messages.value.push(data)
  });
watch(() => route.params.id, (newChannelId, oldChannelId) => {
  if (newChannelId !== oldChannelId) {
    resetChannel();
    socket.emit('old message', messages);
    //currentChannel.value = newChannelId;
    //socket.emit('joinRoom', currentChannel.value);
    // Effectuez les opérations supplémentaires nécessaires pour le nouveau canal, si nécessaire
    // Par exemple, rejoindre le nouveau canal en utilisant `socket.emit('joinRoom', newChannelId);`
  }
});

socket.on('new message', (messageObj) => {
if(messageObj.hatePrediction.label !== "hate speech") {
  let messageComposed = messageObj.message
  let pseudoComposed = messageObj.pseudo
  let ModComposed = ''
  if(messageObj.hatePrediction.label == "offensive") {
    ModComposed = "Moderation Bot"
    messageComposed = `${messageObj.pseudo} message is inappropriate`
  }
  if(messageObj.isSuicidalMessage) {
    ModComposed = "Moderation Bot"
    messageComposed = 
    `${messageObj.pseudo} Care This message is considered suicidal please get some help.
    Don't hesitate to use this link : https://www.infosuicide.org/urgences-aide-ressources/lignes-decoute/`
  }
  messages.value.push({ id:pseudoComposed, message: messageComposed, mod: ModComposed })
} 
else if(messageObj.hatePrediction.label == "hate speech"){
  messages.value.push({ mod: "Moderation Bot", message: `${messageObj.pseudo} message is inappropriate` })
}

console.log(messageObj)
});

  </script>