<template>
  <div class="container">
	<div class="container__item" id="test" v-if="Islogin == 0">
    <form @submit.prevent="loginUser">
    <label id="lname">Bonjour! Merci de choisir un pseudo</label>
    <input type="text" id="lname" minlength="3" v-model="pseudo" placeholder="Username..." required>
    <input type="submit" id="connexion" value="Submit">
  </form>
	</div>
	<div v-else id="channelJoin">Connectez vous à un channel {{pseudo}}</div>
</div>
</template>


<script>
import { ref, onMounted} from 'vue';
import { useRouter } from 'vue-router';
import io from 'socket.io-client';


  export default {
    name: 'App',
    setup() {

      const socket = ref("")
      const pseudo = ref('');
      const router = useRouter()
      const Islogin = ref(0)

onMounted(() => {
      socket.value = io('http://socketio.localhost',{
        // WARNING: in that case, there is no fallback to long-polling
        transports: ["websocket"] // or [ "websocket", "polling" ] (the order matters)
        });

  })


      function loginUser(){
          socket.value.emit('login', pseudo);
          console.log("c'est bon :", pseudo.value)
          Islogin.value = 1
          
          localStorage.setItem('pseudo',JSON.stringify(pseudo.value));
          }  

      return {
        loginUser,
        Islogin,
        pseudo

      }
    }
  }
  </script>