<template>
	<aside :class="`${is_expanded ? 'is-expanded' : ''}`">
		<a href="/"><div class="logo">
			<img :src="logoURL" alt="Vue" />
		</div>
		</a>
		<div class="menu-toggle-wrap">
			<button class="menu-toggle" @click="ToggleMenu">
				<span class="material-icons">keyboard_double_arrow_right</span>
			</button>
		</div>
		<span v-if="pseudoRef">
		<h3><b>Menu</b></h3>
		<div class="menu" >
			<router-link v-for="item in items" :key="item.id" v-bind:to="{ name: 'channel', params: { id: item.url } }" @click="changeChannel(item.url)" class="button">
				<span class="material-icons">chat</span>
				<span class="text">{{item.name}}</span>
			</router-link>
		</div>
		</span>
		<span v-else>
		Connectez-vous pour voir les channels
		</span>
		<div class="flex"></div>
		
		<div class="menu">
			<button @click="toggleDark()" class="button">
				<span  class="material-icons">{{modeIcon}}</span>
				<span class="text">Mode</span>
			</button>
		</div>
	</aside>
</template>

<script setup>
import { ref } from 'vue'
import logoURL from '../assets/logo.png'
import {useDark, useToggle} from '@vueuse/core'
import {socket} from '../services/functionSocket'

const pseudoRef = ref(JSON.parse(localStorage.getItem('pseudo')))
const changeChannel = (channelId) => {

	console.log(channelId)
	socket.emit('login', pseudoRef.value)
	socket.emit('joinRoom', channelId);
}

const items= ref([
        { id: 1, name: 'Le coin des débutants', url: 'Le-coin-des-debutants' },
		{ id: 2, name: 'Les discussions générales', url: 'Les-discussions-generales' },
		{ id: 3, name: 'Le bar des copains', url: 'Le-bar-des-copains' },
		{ id: 4, name: 'Le salon de thé', url: 'Le-salon-de-the' },
		{ id: 5, name: 'Le café des passionnés', url: 'Le-cafe-des-passionnes' },
		{ id: 6, name: 'Les débats en tous genres', url: 'Les-debats-en-tous-genres' },
		{ id: 7, name: 'Le salon de l\'actualité', url: 'Le-salon-de-l-actualite' },
		{ id: 8, name: 'Le salon des jeux', url: 'Le-salon-des-jeux' },
		{ id: 9, name: 'Le salon de la musique', url: 'Le-salon-de-la-musique' },
		{ id: 10, name: 'Le salon de la culture', url: 'Le-salon-de-la-culture' },
      ])

const modeIcon = ref("light_mode")

const isDark = useDark({	
	onChanged(isDark) {
		if (isDark) {
			document. documentElement.classList.remove('light')
			document.documentElement.classList.add('dark')	
			modeIcon.value = "dark_mode"
			
		} else {
			document. documentElement.classList.remove('dark')
			document.documentElement.classList.add('light')
			modeIcon.value = "light_mode"
		}
	},
})
const toggleDark = useToggle(isDark)



const is_expanded = ref(localStorage.getItem("is_expanded") === "true")



const ToggleMenu = () => {
	is_expanded.value = !is_expanded.value
	localStorage.setItem("is_expanded", is_expanded.value)
}

</script>

<style lang="scss" scoped>
html.dark {
	aside {
		display: flex;
		flex-direction: column;

		background-color: var(--dark);
		color: var(--light);

		width: calc(2rem + 32px);
		overflow: hidden;
		min-height: 100vh;
		padding: 1rem;

		transition: 0.2s ease-in-out;

		.flex {
			flex: 1 1 0%;
		}

		.logo {
			margin-bottom: 1rem;

			img {
				width: 2rem;
			}
		}

		.menu-toggle-wrap {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 1rem;

			position: relative;
			top: 0;
			transition: 0.2s ease-in-out;

			.menu-toggle {
				transition: 0.2s ease-in-out;
				.material-icons {
					font-size: 2rem;
					color: var(--light);
					transition: 0.2s ease-out;
				}
				
				&:hover {
					.material-icons {
						color: var(--primary);
						transform: translateX(0.5rem);
					}
				}
			}
		}

		h3, .button .text {
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		h3 {
			color: var(--grey);
			font-size: 0.875rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}

		.chat::after {
			content: "";
			top: 0;
			right: 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin-left: 10px;
			background-color: red;
		}

		.menu {
			margin: 0 -1rem;

			.button {
				display: flex;
				align-items: center;
				text-decoration: none;

				transition: 0.2s ease-in-out;
				padding: 0.25rem 1rem;

				.material-icons {
					font-size: 2rem;
					color: var(--light);
					transition: 0.2s ease-in-out;
				}
				.text {
					color: var(--light);
					transition: 0.2s ease-in-out;
				}

				&:hover {
					background-color: var(--dark-alt);

					.material-icons, .text {
						color: var(--primary);
					}
				}

				&.router-link-exact-active {
					background-color: var(--dark-alt);
					border-right: 5px solid var(--primary);

					.material-icons, .text {
						color: var(--primary);
					}
				}
			}
		}

		.footer {
			opacity: 0;
			transition: opacity 0.3s ease-in-out;

			p {
				font-size: 0.875rem;
				color: var(--grey);
			}
		}

		&.is-expanded {
			width: var(--sidebar-width);

			.menu-toggle-wrap {
				top: -3rem;
				
				.menu-toggle {
					transform: rotate(-180deg);
				}
			}

			h3, .button .text {
				opacity: 1;
			}

			.button {
				.material-icons {
					margin-right: 1rem;
				}
			}

			.footer {
				opacity: 0;
			}
		}

		@media (max-width: 1024px) {
			position: absolute;
			z-index: 99;
		}
	}	
}

html.light {
	aside {
		display: flex;
		flex-direction: column;

		background-color: var(--bs-gray-200);
		color: var(--dark);

		width: calc(2rem + 32px);
		overflow: hidden;
		min-height: 100vh;
		padding: 1rem;

		transition: 0.2s ease-in-out;

		.flex {
			flex: 1 1 0%;
		}

		.logo {
			margin-bottom: 1rem;

			img {
				width: 2rem;
			}
		}

		.menu-toggle-wrap {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 1rem;

			position: relative;
			top: 0;
			transition: 0.2s ease-in-out;

			.menu-toggle {
				transition: 0.2s ease-in-out;
				.material-icons {
					font-size: 2rem;
					color: var(--dark);
					transition: 0.2s ease-out;
				}
				
				&:hover {
					.material-icons {
						color: var(--primary);
						transform: translateX(0.5rem);
					}
				}
			}
		}

		h3, .button .text {
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		h3 {
			color: var(--grey);
			font-size: 0.875rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}

		.chat::after {
			content: "";
			top: 0;
			right: 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin-left: 10px;
			background-color: red;
		}

		.menu {
			margin: 0 -1rem;

			.button {
				display: flex;
				align-items: center;
				text-decoration: none;

				transition: 0.2s ease-in-out;
				padding: 0.25rem 1rem;

				.material-icons {
					font-size: 2rem;
					color: var(--dark);
					transition: 0.2s ease-in-out;
				}
				.text {
					color: var(--dark);
					transition: 0.2s ease-in-out;
				}

				&:hover {
					background-color: var(--light-alt);

					.material-icons, .text {
						color: var(--primary);
					}
				}

				&.router-link-exact-active {	
					background-color: var(--light-alt);
					border-right: 5px solid var(--primary);

					.material-icons, .text {
						color: var(--primary);
					}
				}
			}
		}

		.footer {
			opacity: 0;
			transition: opacity 0.3s ease-in-out;

			p {
				font-size: 0.875rem;
				color: var(--grey);
			}
		}

		&.is-expanded {
			width: var(--sidebar-width);

			.menu-toggle-wrap {
				top: -3rem;
				
				.menu-toggle {
					transform: rotate(-180deg);
				}
			}

			h3, .button .text {
				opacity: 1;
			}

			.button {
				.material-icons {
					margin-right: 1rem;
				}
			}

			.footer {
				opacity: 0;
			}
		}

		@media (max-width: 1024px) {
			position: absolute;
			z-index: 99;
		}
	}	
}


</style>