.scrollarea {
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
  
}

.message-left
{
  float: left;
  background-color: #ff9f31;
  color: aliceblue;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.message-right
{
  float: right;
  background-color: #00BFFF;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: aliceblue;
}

#pseudoText{
  font-size: 20px;
}

#message{
  font-size: 17px;
  width: 100%;
  max-width: 100% !important;
}

#heureLeft{
  float: left;
}

#heureRight{
  text-align: right;
}

#bloc{
  padding-left: 20px;
  padding-right: 20px;
}

html.dark body{
  background-color: #2c3342 !important;
}
html.light body{
  background-color: var() !important;
}

.noHover{
  pointer-events: none;
}

#myInput{
  background-color: #538bdd;
  border: 0px;
}

#pseudo{
  padding-top: 35px;
}

#inputGroup-sizing-default{
  background-color: #32353B;
  border: 0px;
  color: aliceblue;
  
}

#pseudoInput{
  background-color: #32353B;
  border: 0px;
  color: aliceblue;
  font-weight: bold;
}

.taille-pseudo{
  font-size: 30px !important;
}


/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);  
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary); 
}

.app{
  width: 100%;
}

/* login form */
#lname{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  color: #4caf50;
  font-size: 20px;
}

#test{
 width: 30%; 
 margin: auto;
 margin-top : 30%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#connexion {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#channelJoin{
  width: 50%;
  margin: auto;
  margin-top: 30%;
  font-size: 40px;
  color: #4CAF50;
}
#botMod{
  background-color: #f00 !important;
}
.form-control::placeholder { 
  color: #f0f8ff;
  opacity: 1; 
}