<template>
	<div class="app">
		<!-- channel -->
		<Channel></Channel>

		<!-- Content -->
		<router-view />
	</div>
</template>

<script setup>
import Channel from '../components/Channel.vue';

</script>