<template>
	<div class="app">
		<div class="container">
			<div class="container__item" id="test" v-if="pseudoRef == null">
			<form @submit.prevent="loginUser">
			<label id="lname">Bonjour!<br>Merci de choisir un pseudo </label>
			<input type="text" id="lname" minlength="3" v-model="pseudo" placeholder="Username..." required>
			<input type="submit" id="connexion" value="Submit">
			</form>
			</div>
			<div v-else>
				<div  id="channelJoin">Connectez vous à un channel {{pseudoRef }}</div>
				<div id="rules"></div>
			</div>
			
		</div>
	</div>
</template>

<script setup>
import {ref} from 'vue';
import {socket} from '../services/functionSocket'

const pseudo = ref('');
const pseudoRef = ref(JSON.parse(localStorage.getItem('pseudo')))

function loginUser()
{
	socket.emit('login', pseudo);
	console.log("c'est bon :", pseudo.value)
	localStorage.setItem('pseudo',JSON.stringify(pseudo.value));
	location.reload();
}
</script>